@import "./base";

//Componentes

@import "./components/body";
@import "./components/header";
@import "./components/footer";
@import "./components/sombras";
@import "./components/animaciones";

//Carpeta

@import "./pages/index";



// Maps o Mix

$redes: (
    instagram:#F26D91,
    whatsapp:green,
    youtube:red,
    facebook:blue,
    twitch:blueviolet,
    tiktok:black,
);
