.flip-box {

    box-sizing: border-box;
    text-align: center;
    width: 300px;
    height: 300px;
}
/* This container is needed to position the front and back side */
.flip-box-inner {
    width: 280px;
    height: 280px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {

    position:absolute;
    width: 280px;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .flip-box-front {
 
    background-color: transparent;
    color: black;
    
    
  }
  
  /* Style the back side */
  .flip-box-back {

    background-color: $terciary-color;
    color: black;
    font-size: large;
    transform: rotateY(180deg);
    
  }


  //Flip Card de Galería



  .flip-card {
    background-color: transparent;
    width: 280px;
    height: 280px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 280px;
    height: 280px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 250px;
    height: 250px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: transparent;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: $terciary-color;
    color: black;
    transform: rotateY(180deg);
  }