.flip-box {

    box-sizing: border-box;
    text-align: center;
    width: 150px;
    height: 150px;
}
/* This container is needed to position the front and back side */
.flip-box-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    z-index: 6;
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .flip-box-front {
 
    background-color: transparent;
    color: black;
    
    
  }
  
  /* Style the back side */
  .flip-box-back {

    background-color: $terciary-color;
    color: black;
    font-size: small;
    transform: rotateY(180deg);
    
  }