* {
    box-sizing: border-box;
    font-family: $ff-crimson-text;
    max-width: 100vw;
    
    body {
        background-image: url(../images/blurry_background.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment:fixed;
        background-size: cover;
    }
}

.body-base  {
    
    padding-top: 3rem;


}

label {
    width: 90px;
}

.formulateo {
    text-align: center;
    margin: 3em auto;


}
section div h3 {
 text-align: center;
    margin-top: 4em;
}

section p {

text-align: center;

}

.p_tarjetas {
    text-align: left;
    font-size:medium;

}

.SpDlTp {
    margin: 70 auto;
    display: flex;

    img{
        width: 100%;
    }
}

.gallery_box {
    display: block;
}

.bg-light {
    --bs-bg-opacity:0;
}

.contact_box {
    display: flex;
    display: block;
    justify-content: center;
    background-color: black;
}
.img--box{

    height: 5%;
    margin: 45% 0%;
} 

.img--box img {

    width: 100%;

}

.img-box-grandfather {
    display: flex;
    justify-content: center;
    margin: 5% 10% 5% 17%;

}

.img-box-father{

    display: inline-block;
    margin-top: 0;
    margin-bottom: 5%;

    @include MQsmall{
        margin-bottom: 20%;
    }
    @include MQlarge{
        margin-bottom: 15%;
    }

}
.img-box-father img {
  
            border-radius: 5%;
            padding: 3px;
    
    }
    .content-box {
    
        display:block;
        width: 100%;
        right: 0;
        transform: translateY(5%);
        border-bottom: 5px, solid #c7c7c7;
    }
    
    .content-menu {
    
        display: flex;
        flex-direction: column;
        position:fixed;
        background-color: rgba(249, 167, 167, 0.332);
        width: 18%;
        height: 75vh;
        right: 0;
        flex-wrap: wrap;
    }

    .body-box-father {
        text-align: center;
        margin-top: 0%;
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.2fr 0.1fr 1fr;
        
        h3 {
        text-align: center;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
        h4 {
            text-align: center;
            grid-column: 2 / 1;
            grid-row: 2 / 3;
        }
        @include MQsmall {
            grid-template-columns: repeat(1,1fr);
        }
        @include MQmlarge {
            margin: 0 auto;
            grid-template-columns: repeat(1,1fr);
        }
        @include MQlarge {
            margin: 0 auto;
            grid-template-columns: repeat(1,1fr);
        }
        
    }
    .box-content-descripcion {
        padding: 8em;
        background-color:$terciary-color;
        margin: 20px 20px;
        width: 75%;
        border-radius: 2%;
        max-width:  992px;

        @include MQsmall {
            overflow: scroll;
            margin: 20px auto;
            width: 63%;
            padding: 0;
        }

        @include MQmlarge {
            margin: 0.5em auto;
            padding: 0;
            width: 420px;
            height: 520px;
            padding: 0;

        }
        @include MQlarge {
            margin: 0.5em auto;
            width: 320px;
            height: 420px;
            padding: 0;
            overflow: scroll;
        }
        @include MQxlarge {
            margin: 0 auto;
            padding: 0;
        }
    

     }
     .box-content-descripcion:hover {
        @extend .shadow;
        transform: scale(1.04)
    } 
    
    .box-bestseller {

        @include MQlarge {
            img {
                max-height: 450px;
            } }

        @include MQsmall{
            img {
                max-height: 270px;
            }
        }
        grid-column: 1 / 1;
        margin: 0 auto;
        align-self: center;
        text-align: center;
        padding-top: 1.2em;
        gap: 2px;
    
        img {
            padding-bottom: 0px;
            width: 600px;
            height: 600px;
            border-radius: 1%;
        }
        img:hover {
            cursor: pointer;
            @extend .shadow;
        }
        }
.gallery_body{
    margin-top: 10%;
    display: flex;
    justify-content: center;

}

.box-bestseller img {

    @include MQsmall {
        width: 85%;
        }
        @include MQlarge {
            width: 85%;

        }
}
.body-base {

    .MediaQ {
        @include MQsmall {
            
            border-radius: 15%;
            text-align: center;
            border-radius: 0;
            margin-top: 19px;
            height: 250px;
        }
    }
}

.gallery_box {
    @include MQxlarge {
        columns: (4);
    }

    @include MQmlarge {
        columns: (2);
    }

    @include MQlarge {
        columns: (2);
    }

    @include MQsmall {
        columns: (1);
    }

    columns: (4);
    margin-top: 5%;
    padding: 0;
    display: flex;
    display: inline-block;
    justify-content: center;

.column img {
    
    width: 80%;
    max-width: 300px;
    max-height: 300px;
 
}}